__pycache__/*
*.bpch
*.dat
.ipynb_checkpoints/*
.git/*
.DS_Store
._.DS_Store
.*.pdf
timing_script.py
Hg_drydep_lifetime.py
temp*.py
Figures/benchmark_*.pdf
Figures/Hg0_*.pdf
Figures/Fig3_*.pdf
data/._*
